﻿@model FizzbuzzView.Models.FizzbuzzViewModel
@{
    ViewBag.Title = "Fizzbuzz";
}

<div class="jumbotron">
    <h1>Fizzbuzz Test</h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-auto">
        @foreach (var inputNumber in Model.FizzbuzzNum)
        {
            if (inputNumber == "fizz buzz")
            {
                <span class="fizz">fizz</span> <span class="buzz">buzz</span>
            }
            else
            {
                <span>@inputNumber</span>
            }
            <br />
    }
    </div>
</div>