﻿@model FizzbuzzView.Models.FizzbuzzViewModel
@{
    ViewBag.Title = "Fizzbuzz";
}

<div class="jumbotron">
    <h1>Fizzbuzz Test</h1>
</div>

<form action="/Home/Index" method="post">
    <div class="row">
        <div class="col-md-4 col-md-auto">
           @Html.TextBoxFor(f => f.UserPosiion)
            @Html.ValidationMessageFor(f => f.UserPosiion)}
        </div>
    </div>
    <div class="row">
        <input type="submit" class=" btn btn-dark" value="Fizzbuzz"/>
    </div>
</form>